/*body{*/
/*    background: url("../img/bg.png") repeat;*/
/*    backdrop-filter: blur(.5em);*/
/*}*/


/*body h1{*/
/*    color: #fff;*/
/*}*/

/*.form-label {*/
/*    color: rosybrown;*/
/*    font-weight: 600;*/
/*    letter-spacing: .1em;*/
/*}*/

/*input,textarea{*/
/*    outline: none;*/
/*}*/

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;
}

